body {
    padding: 0.25vw;
}

button.btn-lg {
    width: 100%;
    font-size: 15vw;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3vw;
    letter-spacing: -1vw;
    margin-bottom: 3px;
    padding-top: 0;
}

button.btn-lg:active {
    margin-top: 0.25vw;
    margin-left: 0.25vw;
}
